{% extends "base.html" %}
{% load i18n %}


{% block container %}
<div class="row mt-md-5">
    <div class="col-6 offset-3">
        <div class="row">
            <div class="col-md-12">
                <div id="history" class="list-group">

                    <div class="list-group-item border-0 flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start">
                            <div class="balon-l"><p>{% translate "Hallo, wie kann ich behilflich sein?" %}</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-2 sticky-bottom">
            <div class="col-12 text-center">
                <textarea id="msg-input" class="form-control" placeholder="{% translate "Type a message" %}" style="resize: none; min-height: 2em; overflow: hidden;"></textarea>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var latitude = undefined;
    var longitude = undefined;
    var last_intent = undefined;

    $("#msg-input").focus();
    $("#msg-input").keypress(function(e) {
        if ( e.which == 13 ) {
            e.preventDefault();
            var today = new Date();
            var time = today.getHours() + ":" + today.getMinutes() + ":" + today.getSeconds();
            var text = $("#msg-input").val();
            var data = {"text": text};
            $("#msg-input").val("");

            $.post("{% url "api:markdown" %}", data, function(data) {
                $("#history").append("<div class=\"list-group-item border-0 flex-column align-items-start\"><div class=\"d-flex w-100 justify-content-end\"><div class=\"balon-r\">" + data["text"] + "</div></div></div>");
                MathJax.Hub.Queue(["Typeset", MathJax.Hub, "history"]);
                $("html, body").animate({scrollTop: $(document).height()}, "slow");
            });

            if ( latitude !== undefined && longitude !== undefined ) {
                data.latitude = latitude;
                data.longitude = longitude;
            }
            if ( last_intent !== undefined )
                data.last_intent = last_intent;

            $.post("/api/v1/nlu/", data, function(data) {
                last_intent = data.intent;
                data.replies.forEach(function(reply) {
                    $("#history").append("<div class=\"list-group-item border-0 flex-column align-items-start\"><div class=\"d-flex w-100 justify-content-start\"><div class=\"balon-l" + (last_intent == "error" ? " error" : "") + "\">" + reply + "</div></div></div>");
                }, "json");
                MathJax.Hub.Queue(["Typeset", MathJax.Hub, "history"]);
                $("html, body").animate({scrollTop: $(document).height()}, "slow");
            });
        }
    });

    $(window).on("load", function() {
        if ( navigator.geolocation )
            navigator.geolocation.watchPosition(showPosition, showError);
        else
            console.log("{% translate "Geolocation is not supported by this browser." %}");
    });

    function showPosition(position) {
        latitude = position.coords.latitude;
        longitude = position.coords.longitude;
    }

    function showError(error) {
        latitude = undefined;
        longitude = undefined;

        switch ( error.code ) {
            case error.PERMISSION_DENIED:
                console.log("{% translate "User denied the request for Geolocation." %}");
                break;
            case error.POSITION_UNAVAILABLE:
                console.log("{% translate "Location information is unavailable." %}");
                break;
            case error.TIMEOUT:
                console.log("{% translate "The request to get user location timed out." %}");
                break;
            case error.UNKNOWN_ERROR:
                console.log("{% translate "An unknown error occurred." %}");
                break;
        }
    }
</script>
{% endblock %}
