# Python
__pycache__
venv
.mypy_cache
*.pyc

# Django
computer/local.py
computer/db.sqlite3
computer/media
computer/static

# Sacred
experiments

# SublimeText
*.sublime-project
*.sublime-workspace

# Vim
Session.vim
