bleach==1.5.0
Django==1.11.7
enum34==1.1.6
h5py==2.7.1
html5lib==0.9999999
Keras==2.1.2
Markdown==2.6.9
numpy==1.13.3
piwikapi==0.3
protobuf==3.5.0.post1
psycopg2==2.7.3.2
pytz==2017.3
PyYAML==3.12
scipy==1.0.0
six==1.11.0
tensorflow==1.4.0
tensorflow-tensorboard==0.4.0rc3
Werkzeug==0.12.2
