{% extends "computer/base.html" %}
{% load bootstrap i18n %}


{% block title %}Sign up • Profile • computer{% endblock %}


{% block breadcrumbs %}
<li><a href="{% url "dashboard" %}">{% trans "Dashboard" %}</a></li>
<li><a href="{% url "profiles:profile" %}">{% trans "Profile" %}</a></li>
<li class="active">{% trans "Sign up" %}</li>
{% endblock %}


{% block content %}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h1 class="panel-title">{% trans "Register for computer" %}</h1>
            </div>
        <div class="panel-body">
            {% trans "Sign up" as sign_up_trans %}
            {% bootstrap_form form=form btn_title=sign_up_trans %}
        </div>
    </div>
</div>
{% endblock%}
