{% extends "computer/base.html" %}
{% load i18n computer static %}


{% block navigation %}
{% endblock %}


{% block container %}
<div class="row mt-md-5">
    <div class="col-md-6 offset-md-3 col-lg-4 offset-lg-4">
        <div class="row">
            <div class="col-md-12">
                <div id="history" class="list-group frame">
                    <div class="list-group-item flex-column align-items-start">
                        <div class="d-flex w-100 justify-content-start">
                            <img class="rounded-circle avatar" src="{% static "images/icon.png" %}"/>
                            <p class="ml-md-1">{% trans "Hallo, wie kann ich behilflich sein?" %}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-md-1">
            <div class="col-md-12 text-center">
                <input id="msg-input" class="form-control" placeholder="{% trans "Type a message" %}"/>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var latitude = undefined;
    var longitude = undefined;
    var last_intent = undefined;

    $("#msg-input").focus();
    $("#msg-input").keypress(function(e) {
        if ( e.which == 13 ) {
            e.preventDefault();
            var text = $("#msg-input").val();
            $("#msg-input").val("");
            $("#history").append("<div class=\"list-group-item flex-column align-items-start\"><div class=\"d-flex w-100 justify-content-end\"><p class=\"mr-md-1\">" + text + "</p><img class=\"rounded-circle avatar\" src=\"{% gravatar 75 %}\"></div></div>");
            $("#history").scrollTop($("#history")[0].scrollHeight);

            var data = {"text": text};
            if ( latitude !== undefined && longitude !== undefined ) {
                data.latitude = latitude;
                data.longitude = longitude;
            }
            if ( last_intent !== undefined )
                data.last_intent = last_intent;

            $.getJSON("/api/v1/nlu/", data, function(data) {
                last_intent = data.intent;
                data.replies.forEach(function(reply) {
                    $("#history").append("<div class=\"list-group-item flex-column align-items-start\"><div class=\"d-flex w-100 justify-content-start\"><img class=\"rounded-circle avatar\" src=\"{% static "images/icon.png" %}\"><p class=\"ml-md-1\">" + reply + "</p></div></div>");
                });
                $("#history").scrollTop($("#history")[0].scrollHeight);
            });
        }
    });

    $(window).on("load", function() {
        if ( navigator.geolocation )
            navigator.geolocation.watchPosition(showPosition, showError);
        else
            console.log("{% trans "Geolocation is not supported by this browser." %}");
    });

    function showPosition(position) {
        latitude = position.coords.latitude;
        longitude = position.coords.longitude;
    }

    function showError(error) {
        latitude = undefined;
        longitude = undefined;

        switch ( error.code ) {
            case error.PERMISSION_DENIED:
                console.log("{% trans "User denied the request for Geolocation." %}");
                break;
            case error.POSITION_UNAVAILABLE:
                console.log("{% trans "Location information is unavailable." %}");
                break;
            case error.TIMEOUT:
                console.log("{% trans "The request to get user location timed out." %}");
                break;
            case error.UNKNOWN_ERROR:
                console.log("{% trans "An unknown error occurred." %}");
                break;
        }
    }
</script>
{% endblock %}
