{% extends "base.html" %}
{% load django_html_utils i18n static %}


{% block content %}
<div class="row">
    <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3 d-flex justify-content-center">
        <div class="card card-login mx-auto mt-5">
            <h4 class="card-header">{% translate "computer" %}</h4>
            <div class="card-body">
                <p>{% translate 'Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.' %}</p>
                {% translate 'Reset my password' as password_reset_text %}
                {% form form=form submit_title=password_reset_text %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
